
body{
    height: 111vh;
	background: linear-gradient(#13181d, #20212e, #341b47);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 41px;
    
}

.navbar h1{
    color: var(--violet);
}

a{
    color: white;
    text-decoration: none;
}

ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

li{
    list-style: none;
    color: #ccc;
}

li:hover{
    cursor: pointer;
    color: white;
    transition: 0.5s ease-in-out;
}

.active{
    border-bottom: 2px solid violet;
    padding: 0.7rem

}

@media screen and (max-width: 450px) {
	

	.navbar {
		display: none;
		justify-content: center;

	}

}